<section class="block-contact">
    <div class="wrapper">
        <h3 class="block-contact__title">{{contact.block_introduction}}</h3>
        {% include "/components/section_contact/section-contact__liste.twig" with {"title": contact.block_reseaux.title, "contacts": contact.block_reseaux.contacts} %}
        {% include "/components/section_contact/section-contact__liste.twig" with {"title": contact.block_contact.title, "contacts": contact.block_contact.contacts} %}
    </div>
</section>