<article class="block-about {{ reversed ? "block-about--reversed" : null }} {{ classes }}">
    <div class="block-about__image-container">
        {# Mettre les pictos ici quand on les aura #}
    </div>
    <div class="block-about__content-container">
        <p class="text-alt text-alt--white content-container__count">{{ count }}/04</p>
        {% include "components/TitleContainer.twig" with {"title": title} %}
        <div class="text text--white content-container__text">
            {{text}}
        </div>
    </div>
</article>