<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {{ function('wp_head') }}
    </head>
    <body>
        <header>
        {% block header %}
            {% include "header.twig" %}
        {% endblock %}
        {% include "components/menu.twig" %}
        </header>

        <main data-router-wrapper>
        {% block content %}
            content goes here
        {% endblock %}
        </main>

        <footer>
        {% block footer %}
            {% include "footer.twig" %}
        {% endblock %}
        {{ function('wp_footer') }}
        </footer>
    </body>
</html>