footer {
  margin-bottom: 30px;

  .wrapper {
    padding-top: 25px;
    border-top: 1px solid $color-dark-beige;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
