{% if image %}
    <section class="bloc-parallax">
        <div class="bloc-parallax__image-container">
            <img src="{{ image["url"] }}" alt="{{ image["alt"] }}" data-scroll data-scroll-speed="-4">
        </div>
</section>
{% endif %}
