<a href="{{link}}" class="btn-hand">
    <div class="btn-hand__img-container">
        {{image}}
    </div>
    <div class="btn-hand__text-container">
        <img src="{{text['url']}}" alt="{{text['alt']}}">
    </div>
</a>