.page--home {
  background: $color-magenta;

  .block-introduction {
    height: auto;
    width: 100vw;
    background: $color-magenta;
    position: relative;
    z-index: 1;

    &__image-container {
      width: 100%;
      height: auto;
      z-index: 1;
      opacity: 1;
      position: relative;
      margin-top: -460px;

      .wrapper {
        display: flex;
        justify-content: center;
        position: relative;
      }

      .picto {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;

        &.picto-1 {
          left: 0;
          transform: translateX(-50%);
          bottom: 45px;
          height: 186px;
          width: auto;
        }

        &.picto-2 {
          left: auto;
          right: 0;
          transform: translateX(50%);
          bottom: -25px;
          height: 167px;
          width: auto;
        }
      }

      .main-image {
        height: auto;
        width: 100%;
        position: relative;
        z-index: -1;
        background: radial-gradient(
          circle,
          rgba(36, 36, 52, 0.5) 0%,
          rgba(16, 16, 28, 0.5) 75%
        );
      }
    }

    .block-introduction__hero-section {
      position: relative;
      padding: initial;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;

      .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        z-index: 2;
        padding: 45px 0 40px 0;
        margin-top: 10vh;

        .square-parts {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1;

          .square-part {
            &:nth-child(2) {
              left: auto;
              right: 0;

              &:after {
                top: 0;
                left: auto;
                right: 0;
                width: 75px;
                height: 1px;
              }
            }

            &:nth-child(3) {
              top: auto;
              bottom: 0;

              &:after {
                top: auto;
                bottom: -50%;
                left: 0;
                width: 1px;
                height: 150px;
                transform: translateY(50%);
              }
            }

            &:nth-child(4) {
              top: auto;
              bottom: 0;
              left: auto;
              right: 0;

              &:after {
                top: auto;
                left: auto;
                bottom: -50%;
                right: 0;
                width: 1px;
                height: 150px;
                transform: translateY(50%);
              }
            }
          }
        }
      }

      .hero-section__text-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .title-container {
          text-align: center;

          .main-title {
            text-align: center;
            font-size: 74px;
            line-height: 1.15;
          }
        }

        .text-container__subtitle {
          text-align: center;
          margin-top: 10px;
        }
      }

      .block-introduction__scroll-container {
        margin-top: 26px;
        width: 22px;
        height: 45px;
        background: url("~@img/fleche_home.svg") no-repeat center;
        background-size: 22px;
      }
    }

    &.is-hidden {
      opacity: 0;
    }
  }

  .block-about {
    box-shadow: 0px -15px 40px 55px rgba(16, 16, 28, 1);
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: $color-magenta;
    margin-top: 0px;
    position: relative;
    z-index: 2;

    &__text {
      font-family: $font;
      font-size: 40px;
      line-height: 65px;
      font-weight: 400;
      color: white;
      text-align: center;

      .imagedescription {
        font-family: $font-alt;
        font-style: italic;
        font-size: 44px;
        color: $color-purple;
        font-weight: 400;
      }
    }

    &__link-container {
      margin-top: 100px;
      display: flex;
      justify-content: center;
    }
  }

  .block-works {
    background: $color-magenta;
    position: relative;
    z-index: 3;
    margin-top: 160px;

    &__scrolling-title {
      position: relative;
      margin-bottom: 175px;
      padding-left: 5%;

      p {
        font-size: 300px;
      }
    }

    &__works {
      .small-wrapper {
        display: flex;
        justify-content: space-between;
        position: relative;
      }

      .works__categories {
        width: 55%;

        .categories__category {
          display: block;

          .title-container {
            position: relative;

            &:after {
              content: "";
              position: absolute;
              top: 50%;
              right: 0;
              opacity: 0;
              width: 56px;
              height: 55px;
              background: url("~@img/fleche_work.svg") no-repeat center;
              background-size: 55px;
              transform: translate(70px, -50%);
              transition: transform 250ms $curve, opacity 250ms linear;
            }
          }

          .main-title {
            font-size: 80px;
          }

          .know-more {
            position: absolute;
            bottom: -20px;
            right: 0;
            opacity: 0;
            transition: opacity 250ms linear;
          }

          &:not(:last-child) {
            margin-bottom: 70px;
          }

          &:hover {
            .know-more {
              opacity: 1;
              transition: opacity 250ms linear;
            }

            .title-container:after {
              opacity: 1;
              transform: translate(80px, -50%);
              transition: transform 250ms $curve, opacity 250ms linear;
            }
          }
        }
      }

      .works__images {
        position: absolute;
        top: -60px;
        right: 0;
        width: 38%;
        height: 100%;

        .images__images-container {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: auto;

          .images-container__work-container {
            position: absolute;
            top: 0;
            left: 0;
            width: 320px;
            height: 375px;
            z-index: 1;
            opacity: 0;

            .work-container__parallax {
              position: relative;
              width: 100%;
              height: 100%;
              overflow: hidden;

              img {
                height: 100%;
                width: 100%;
                object-fit: cover;
              }
            }

            &:nth-child(2) {
              top: 125px;
              left: auto;
              right: 0;
              z-index: 2;
            }

            &:nth-child(3) {
              left: calc(50% - 151px);
              top: 335px;
              z-index: 3;
            }
          }
        }
      }
    }

    &__gameboy {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 200px;
      margin-bottom: 160px;

      .square-part {
        top: 50%;
        transform: translate(0, -50%);

        &:last-child {
          left: auto;
          right: 0;

          &:after {
            left: auto;
            right: 0;
          }
        }
      }
    }
  }
}
