header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  padding-top: 40px;
  width: 100vw;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header__leftPart {
      a {
        display: block;
        height: 45px;
        width: auto;

        img {
          height: 100%;
          width: auto;
        }
      }
    }

    .header__rightPart {
      position: relative;
    }
  }

  &.is-menu-opened {
    .header__rightPart {
      .btn-menu {
        opacity: 0;
        transition: opacity 150ms linear;
      }
    }
  }
}
