// Media queries
$desktop: 1800px;
$laptop: 1400px;
$tablet: 1010px;
$mobile: 480px;

// Fontes
$font: "Gordita", Helvetica, Arial, sans-serif;
$font-alt: "InriaSerif", serif;

// Colors
$color-magenta: #242434;

$color-light-beige: #fdfafa;
$color-beige: #f4f7f5;
$color-dark-beige: #e6e2e6;

$color-purple: #725ac1;

$color-black: #10101c;

// Divers
$curve: cubic-bezier(0.8, 0, 0.2, 1);
$curve-alt: cubic-bezier(0.8, 0.01, 0.19, 0.99);

$spacingDesktop: 250px;
