body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  @media (min-width: $desktop + 25) {
    width: 1700px;
    margin: 0 auto;
  }

  @media (max-width: $desktop) {
    width: 1300px;
    margin: 0 auto;
  }
}

p,
a,
li,
span,
div {
  font-family: $font;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: $color-blue;
}
