.main-title {
  font-family: $font;
  font-weight: 700;
  font-size: 90px;
  line-height: 1.15;
  color: $color-purple;
}

.title-container {
  position: relative;

  .title-container__main {
    position: relative;
    z-index: 2;
    color: $color-beige;
    -webkit-text-stroke: 1px $color-black;
  }

  .title-container__back {
    // a remplacer plus tard par le parallax
    position: absolute;
    z-index: 1;
    bottom: -7px;
    right: -7px;
    color: $color-purple;
  }
}

.text-alt {
  font-family: $font;
  font-size: 20px;
  color: $color-black;
  line-height: 1.75;
  font-weight: 400;

  strong {
    font-weight: 600;
  }
}

.text {
  font-family: $font-alt;
  font-size: 20px;
  color: $color-black;
  line-height: 1.75;
  font-weight: 400;

  strong {
    font-weight: 600;
  }
}

.scrolling-title {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  writing-mode: vertical-lr;

  .text {
    font-size: 500px;
    color: #e6e2e6;
    opacity: 0.1;
    line-height: 0.6;
  }
}
