// Media queries
$desktop: 1800px;
$laptop: 1400px;
$tablet: 1010px;
$mobile: 480px;

// Fontes
$font: "Gordita", Helvetica, Arial, sans-serif;
$font-alt: "InriaSerif", serif;

// Colors
$color-magenta: #242434;

$color-light-beige: #FDFAFA;
$color-beige: #F4F7F5;
$color-dark-beige: #e6e2e6;

$color-purple: #725AC1;

$color-black: #10101C;

// Divers
$curve: cubic-bezier(0.8, 0, 0.2, 1);
