// Media queries
$desktop: 1700px;
$laptop: 1400px;
$tablet: 1010px;
$mobile: 480px;

// Fontes
$font: "Gordita", Helvetica, Arial, sans-serif;

// Colors
$color-red: #cb1e1e;

$color-light-beige: #fdfafa;
$color-beige: #faf2f2;
$color-dark-beige: #e6e2e6;

$color-blue: #0045c9;

// Divers
$curve: cubic-bezier(0.8, 0, 0.2, 1);
