<section class="wrapper">
    <article class="header__leftPart">
        <a href="/">
            <img src="{{header.logo["url"]}}" alt="{{header.logo["alt"]}}">
        </a>
    </article>
    <article class="header__rightPart">
        <div class="btn-menu">
            <div class="lines-container">
                <div></div>
                <div class='wave'></div>
                <div></div>
            </div>
        </div>
        <div class="btn-close">
            <div class="first-line"></div>
            <div class="second-line"></div>
        </div>
    </article>
</section>