{% extends "base.twig" %}
{% block content %}
<section class="page page--listing-travaux" data-router-view="travaux">
    <section class="block-title">
        <div class="small-wrapper">
            <div class="block-title__title-container">
                {% include "components/TitleContainer.twig" with {"title":
        fields.block_introduction.title} %}
            </div>
            {% include "components/SelectCategory.twig" with {"categories":
      fields.block_contenu.categories} %}
        </div>
        {% include "components/ScrollingTitle.twig" with {"title": fields.block_introduction.title} %}
    </section>
    <section class="block-travaux">
        <div class="small-wrapper">
            {% for post in fields.block_contenu.posts %}
            <a href="{{ post.permalink }}" class="travaux-post">
                <div class="travaux-post__index-container">
                    <p class="text travaux-count">{{ post.index }}</p>
                </div>
                <div class="travaux-post__image-container">
                    <img src="{{ post.image["url"] }}" alt="{{ post.image["alt"] }}">
                </div>
            </a>
            {% endfor %}
        </div>
    </section>
    {% include "components/SectionContact/SectionContact.twig" %}
    <footer>
        {% block footer %}
        {% include "footer.twig" %}
        {% endblock %}
    </footer>
</section>
{% endblock %}